{{> action }}

<footer id="ft-cols">

    <div class="row">

            <div class="column large-4 medium-12 small-12" id="ft-about">
                {{> ft-about }}
            </div>
            <div class="column large-4 medium-12 small-12 text-center" id="ft-2">
                
            </div>
            <div class="column large-4 medium-12 small-12 text-center" id="ft-addr">
                {{> leo }}
            </div>


</footer>

<hr class="light">

<footer id="ft-bttm">
    <div class="row">
        <div class="column large-4 medium-12 small-12" id="ft-copy">
            {{> ft-copy }}
        </div>
        <div class="column large-4 medium-12 small-12 text-center" id="ft-cred">
            {{> ft-cred }}
        </div>
        <div class="column large-4 medium-12 small-12 text-right" id="ft-tel">
            {{> ft-tel }}
        </div>
    </div>
</footer>