// HOME
// ----
// home.intro
#intro {
    text-align: center;
    padding: 2em;
    overflow: hidden !important;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}
[id^="intro_"] {
    margin: 0 0 1rem 0;
    padding: 1rem;
}
// home.intro.icon
.intro_icon {
    height: 150px;
    width: 150px;
    opacity: .5;
    @media screen and (max-width: 40em) {
        height: 125px;
        width: 125px;
    }
    &:hover {
        animation: spin 3s ease-in-out;
        opacity: 1;
    }
}

// home.intro.title 
.intro_title {
    color: white;
    font-weight: 500;
    font-family: 'Roboto Mono', 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding-top: 1em; 
}
// home.intro.subtitle
.intro_subtitle {
    color: rgba(255,255,255,.7);
    font-family: 'Roboto';
}

// home.intro.description
.intro_description {
    padding-bottom: 1em;
}


.intro a {
    background-color: rgba(100,100,100, .25);
    border-bottom: 1px solid rgba(255,255,255,.45);
    &:hover {
        background-color: rgba(255,255,255,.95);
        color: rgba(0,0,0,.8);
    }
}



// TEST AREA
// FIXME: This area needs to be corrected.

.orbit-container img {
    max-height: 400px;
}