<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="Da65aO0SkW7VgxJlbxxVDyCRCkLqsp1iawpoZe4V3zI" />
<title>{{data.siteDesc}} &middot; {{data.siteName}}</title>
<link rel="icon" href="{{root}}assets/img/icons/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>
<body>
{{> ga }}
<!-- off-canvas-wrapper -->
<div class="off-canvas-wrapper">
  <!-- off-canvas -->
  {{> off-canvas }}
  <!-- off-canvas-content-->
  <div class="off-canvas-content" data-off-canvas-content>
    <!-- header_home -->
    {{> header.home }}
    <!-- page_content -->
    {{> body}}
    <!-- footer -->    
    {{> footer }}
  </div><!-- end off-canvas-content -->
</div><!-- end off-canvas-wrapper -->

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>